version: '3.8'

services:
  # --- Message Broker ---
  rabbitmq:
    image: rabbitmq:3-management-alpine
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    healthcheck:
      test: rabbitmq-diagnostics -q ping
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - app-network

  # --- Database ---
  mysql:
    image: mysql:8.0
    container_name: mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root_password
      MYSQL_DATABASE: user_activity_db
      MYSQL_USER: user
      MYSQL_PASSWORD: user_password
    volumes:
      - mysql_data:/var/lib/mysql
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - "3307:3306"
    healthcheck:
      test: ["CMD", "mysqladmin" , "ping", "-h", "localhost"]
      interval: 5s
      timeout: 5s
      retries: 10
    networks:
      - app-network

  # --- Producer Service ---
  producer-service:
    build: ./producer-service
    container_name: producer-service
    ports:
      - "8000:8000"
    environment:
      RABBITMQ_HOST: rabbitmq
      RABBITMQ_QUEUE: user_activity_events
      RABBITMQ_USER: guest
      RABBITMQ_PASS: guest
    depends_on:
      rabbitmq:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/health"]
      interval: 10s
      timeout: 5s
      retries: 3
    networks:
      - app-network

  # --- Consumer Service ---
  consumer-service:
    build: ./consumer-service
    container_name: consumer-service
    ports:
      - "8001:8001"
    environment:
      RABBITMQ_HOST: rabbitmq
      RABBITMQ_QUEUE: user_activity_events
      RABBITMQ_USER: guest
      RABBITMQ_PASS: guest
      MYSQL_HOST: mysql
      MYSQL_USER: user
      MYSQL_PASSWORD: user_password
      MYSQL_DATABASE: user_activity_db
    depends_on:
      rabbitmq:
        condition: service_healthy
      mysql:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8001/health"]
      interval: 10s
      timeout: 5s
      retries: 3
    networks:
      - app-network

volumes:
  mysql_data:

networks:
  app-network:
    driver: bridge